/* Estilo general */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Estilos del header y footer */
.header-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  flex-shrink: 0;
}

/* Estilos del select */
select {
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

/* Estilos del main y section */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del formulario */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

form > * {
  flex-basis: 50%;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-right: 0.5rem;
}

input[type="text"] {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

/* Estilos del carrusel */
.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  max-height: 50%;
  overflow-y: hidden;
}

.carrusel::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.carrusel::-webkit-scrollbar-thumb {
  background-color: #333;
}

.galeria-imagen {
  display: inline-block;
  scroll-snap-align: start;
  width: 200px;
  text-align: center;
}

/* Estilo del popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}