.navbar-scroll {
    background-color: transparent;
  }
  
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff !important;
  }
  
  .navbar-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  