{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Citas</h2>
        {% if request.user.perfil.tipo_usuario == 'PAC' %}
            <a href="{% url 'clinic:nueva_cita' %}" class="btn btn-success">Nueva cita</a>
        {% endif %}
    </div>
    {% for cita in object_list %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Fecha: {{ cita.fecha }}</h5>
                <p class="card-text">Hora: {{ cita.hora }}</p>
                <p class="card-text">Médico: {{ cita.medico.user.username }}</p>
                {% if cita.cancelada %}
                    <p class="card-text text-danger">Esta cita ha sido cancelada.</p>
                {% else %}
                    {% if request.user.perfil.tipo_usuario == 'PAC' %}
                        <a href="{% url 'clinic:cancelar_cita' cita.id %}" class="btn btn-danger">Cancelar cita</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
