{% extends 'base.html' %}

{% block content %}
    <h2>Nueva Cita</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="{{ form.fecha.id_for_label }}" >Fecha (formato: mm-dd-yyyy)</label><br>
            {{ form.fecha }}
        </div>
        <div class="mb-4">
            <label for="{{ form.hora.id_for_label }}">Hora (formato: HH:MM)</label><br>
            {{ form.hora }}
        </div>
        <div class="mb-4">
            {{ form.medico.label_tag }}<br>
            {{ form.medico }}
        </div>
        <button type="submit" class="btn btn-dark mb-4">Crear cita</button>
    </form>
{% endblock %}
