/*
Grid de a partir 1024px
*/
body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid-layout {
    margin: 0 auto;
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:'header header'
                        'top-menu top-menu'
                        'contenido validation'
                        'result result';
  }

.container {
  border: 4px solid black;
  text-align: center;
  line-height: 0.1vh;
} 
.header{
  grid-area: header;
  background-color: lightseagreen;
}
.menu{
  grid-area: top-menu;
  background-color: lightyellow;
}
.content{
  grid-area: contenido;
  background-color: lightskyblue;  
  display: grid;
  grid-template-columns: auto;
}
.validation{
  padding-top: 5vh;
  grid-area: validation;
  background-color: lightpink;
}
.result{
  padding: 1vh;
  grid-area: result;
  background-color: lightcoral;
  display: grid;
  grid-template-columns: auto auto auto;
}

/*
Grid para dispositivos pequeños
*/
@media screen and (max-width : 760px){
  .grid-layout {
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:'header header'
                        'top-menu top-menu'
                        'contenido contenido'
                        'validation validation'
                        'result result'
  }
  .result{
    padding: 2.5vh;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width : 1100px){
  .grid-layout {
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:'header header'
                        'top-menu top-menu'
                        'contenido contenido'
                        'validation validation'
                        'result result';
  }
  .validation{
    padding-top: 5vh;
    
  }
}
